@font-face {
    font-family: pixel;
    src: url(./fonts/ka1.ttf);
}

@font-face {
    font-family: "Kids Dream";
    src: url(./fonts/KidsDream.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@800&family=Roboto:wght@1000&family=Secular+One&display=swap');


.opening {
    font-family: pixel;
    font-size: 20pt;
    /* need to learn font-size scaling h3h3 */
}

body {
    background-image: url(img/bg.jpg);
    background-size: 100vw auto;
}

.header {
    display: flex;
    /* background-color: rgb(32, 30, 30); */
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    color: white;
    font-weight: 500;
    font-size: 22px;
    gap: 20px;
    padding: 10px 50px;
    margin: 0 200px;
    border-radius: 20px;
    max-width: 80vw;
    /* animation: fadein 1.5s; */
}

.name {
    margin-right: auto;
    font-size: 30px;
    /* font-weight: 1000; */
    font-family: "Kids Dream";
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.home {
    margin-left: auto;
}


@keyframes fadein {
    from {
        opacity: 0; 
        height: 0px;
    }
    to {
        opacity: 1;
        height: 5.5vh;
    }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}